
body, html{ font-family: 'Open Sans', Helvetica, sans-serif; 
  line-height: 1; 
  font-size: 16px; 
  box-sizing: border-box;
  margin: 0;padding: 0;
}

*,*:before,*:after{ 
  box-sizing: border-box; 
}

h1,h2,h3,h4,h5,h6, p, ol, ul{
  margin: 0 0 1rem 0;
  padding: 0;
}

ol,ul{
  padding-left: 20px;line-height: 1.5;
}

img{
  height: auto;
}

h1{
  font-size: 4rem;
} 

h2{
  font-size: 3rem;
} 

a{
  text-decoration:none
}
 
body{
  background: #ebede0;
}

#page-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1000;
    display: none; 
  }
  
  #page-transition.active {
    display: block;
    animation: slideIn 0.8s forwards;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }


#page-transition.slideOut {
    display: block;
    animation: slideOut 0.8s forwards;
  }
  
  @keyframes slideOut {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5% 20px 5%;
}

.header h1{
    font-size: 30px;
}

.menu{
}
.menu ul{padding: 0;margin: 0;}
.menu li{display: inline-block;}
.menu a{padding: 15px 20px;display: block;color:#000000;font-weight: bold; } 

.menu a {
    position: relative;
    cursor: pointer;
    color: #000000;
    transition: color 0.25s;
}

.menu a::after {
    position: absolute;
    content: "";
    inset: 0;
    background: #000000;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

.menu a:hover {
    color: #ebebeb;
}

.menu a:hover::after {
    scale: 0.8 0.5;
}



.hero{
    display: flex;
    padding: 5% 10%;
}

    .hero__text{
    width: 60%;
    padding: 8% 1%;
    }

    .hero h1{
        font-size: 130px;
        display: inline-block;
        position: relative;
    }

    .hero h1:before{
        content: "";
        width: 0%;
        height: 120px;
        background: #2cb9ff;
        position: absolute;
        top: 0;
        left: 0;
        animation: animate 4s forwards;
        border-right: 5px solid #262626;

    }
    @keyframes animate
    {
        0%{
            width: 100%;
            z-index: 1;
        }
        50%{
            width: 0%;
            z-index: 1;
        }
        51%{
            width: 0%;
            z-index: -1;
        }
        100%{
            width: 100%;
            z-index: -1;
        }

    }

    .hero{
        font-weight: bold;
        font-size: 50px;
    }

    .hero__img{
    width: 40%;
    }




.arrow-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: -10px;
  }
  
  .scroll-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    opacity: 50%;
    margin-bottom: 10px; 
    padding-right: 20px;
  }
  
  .arrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid black;
    opacity: 50%;
    animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(10px);
    }
  }
  
  .arrow-stripe {
    width: 100%;
    height: 5px;
    background-color: black;
    margin-bottom: 20px;
  }
  
    .Last-Title{
        display: flex;
        justify-content: center;
       padding: 15% 60px;
    }
    
  
.Last-Title{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

    .email-card-container {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-150px);
       
    }
    
    .email-card {
        background-color: #ebede0;        
        border: 2px dashed black;         
        padding: 15px 25px;               
        font-size: 1.1em;                 
        color: #333;                      
        border-radius: 8px;               
        text-align: center;               
        transition: background-color 0.3s, transform 0.3s; 
        cursor: pointer;                  
        
    }
    
    .email-card:hover {
        background-color: #2cb9ff;      
        transform: scale(1.05);          
    }